<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <title>WeAreAdmin</title>
  <link rel="stylesheet" th:href="@{assets/css/admin.styles.min.css}"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="#" class="text-nowrap logo-img" style="padding-top: 3%;">
          <div style="display: flex; justify-content: center; align-items: center;">
            <img th:src="@{assets/img/logo/eplogo_black.png}" width="90" alt="" />&nbsp;
            <span style="font-size: 2rem; font-weight: 800; color: black;">WeAre</span>
          </div>
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{admin}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">KELLY</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{kellyManage}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
              <span class="hide-menu">Kelly관리</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <!--  Header End -->
    <div class="container-fluid" style="width: 100%; max-width: 1600px;">
      <div class="card w-100">
        <div class="card-header">
          <span style="font-size: 1.5rem; font-weight: 800;">승인 대기 회원</span>
        </div>
        <div class="card-body">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ID</th>
                  <th scope="col">이름</th>
                  <th scope="col">조</th>
                  <th scope="col">사역팀</th>
                  <th scope="col">생일</th>
                  <th scope="col">휴대폰</th>
                  <th scope="col">주소</th>
                  <th scope="col">승인</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr th:each="user, userStat : ${unCheckedUserList}">
                  <th scope="row" th:text="${userStat.index + 1}"></th>
                  <td th:text="${user.userId}"></td>
                  <td th:text="${user.userName}"></td>
                  <td th:text="${user.teamName}"></td>
                  <td th:text="${user.msTeamName}"></td>
                  <td th:text="${user.birthday}"></td>
                  <td th:text="${user.phone}"></td>
                  <td th:text="${user.address}"></td>
                  <td>
                    <button type="button" class="btn btn-primary" th:data-usersId="${user.userId}" th:onclick="approveUser(this.getAttribute('data-usersId'))">승인하기</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="width: 100%; max-width: 1600px;">
      <div class="card w-100">
        <div class="card-header">
          <span style="font-size: 1.5rem; font-weight: 800;">회원 목록</span>
        </div>
        <div class="card-body">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <table class="table align-middle table-hover" id="myTable">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">이름</th>
                <th scope="col">직급</th>
                <th scope="col">조</th>
                <th scope="col">사역팀</th>
                <th scope="col">생일(나이)</th>
                <th scope="col">휴대폰</th>
                <th scope="col">주소</th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
              <tr th:each="user, userStat : ${checkedUserList}" data-bs-toggle="modal" data-bs-target="#userListModal"
                  th:attr="data-user-id=${user.userId}, data-user-name=${user.userName},
                  data-user-rankName=${user.rankName != null ? user.rankName : '없음'}, data-user-teamName=${user.teamName},
                  data-user-msTeamName=${user.msTeamName}, data-user-birthday=${user.birthday}, data-user-phone=${user.phone},
                  data-user-address=${user.address}, data-user-password=${user.userPw}, data-user-email=${user.email},
                  data-user-gender=${user.gender}, data-user-check=${user.userCheck}">
                <th scope="row" th:text="${userStat.index + 1}"></th>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.rankName != null ? user.rankName : ''}"></td>
                <td th:text="${user.teamName}"></td>
                <td th:text="${user.msTeamName}"></td>
                <td th:text="${user.birthday} + ' (' + (${#temporals.year(T(java.time.LocalDate).now()) - #temporals.year(user.birthday) + 1}) + '세)'"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.address}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">회원 정보</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" th:action="@{userUpdateByAdmin.do}" th:object="${userEntity}">
            <input type="hidden" id="password" th:field="*{userPw}" readonly>
            <input type="hidden" id="userCheck" th:field="*{userCheck}" readonly>
            <div class="modal-body">
              <div class="mb-3">
                <label for="userId" class="col-form-label">아이디:</label>
                <input type="text" class="form-control" id="userId" name="userId" th:field="*{userId}" readonly>
              </div>
              <div class="mb-3">
                <label for="userName" class="col-form-label">이름:</label>
                <input type="text" class="form-control" id="userName" name="userName" th:field="*{userName}" readonly>
              </div>
              <div class="mb-3">
                <label for="rank" class="col-form-label">직급:</label>
                <select th:field="*{rankName}" id="rank" class="form-control">
                  <option value="없음">없음</option>
                  <option th:each="rank : ${executivesRanks}" th:value="${rank.rankName}" th:text="${rank.rankName}"></option>
                </select>
              </div>
              <div class="mb-3">
                <label for="team" class="col-form-label">조</label>
                <select th:field="*{teamName}" id="team" class="form-control">
                  <option th:each="t : ${teams}" th:value="${t.teamName}" th:text="${t.teamName}"></option>
                </select>
              </div>
              <div class="mb-3">
                <label for="msteam" class="col-form-label">사역팀</label>
                <select th:field="*{msTeamName}" id="msteam" class="form-control">
                  <option th:each="ministrTeam : ${ministryTeams}" th:value="${ministrTeam.msteamName}" th:text="${ministrTeam.msteamName}"></option>
                </select>
              </div>
              <div class="mb-3">
                <label for="birthday" class="col-form-label">생일</label>
                <input type="date" class="form-control" id="birthday" name="birthday" th:field="*{birthday}" readonly>
              </div>
              <div class="mb-3">
                <label for="phone" class="col-form-label">휴대폰</label>
                <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" readonly>
              </div>
              <div class="mb-3">
                <label for="address" class="col-form-label">주소</label>
                <input type="text" class="form-control" id="address" name="address" th:field="*{address}" readonly>
              </div>
              <div class="mb-3">
                <label for="email" class="col-form-label">이메일</label>
                <input type="text" class="form-control" id="email" name="address" th:field="*{email}" readonly>
              </div>
              <div class="mb-3">
                <input type="hidden" class="form-control" id="gender" name="address" th:field="*{gender}" readonly>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="userUpdateByAdmin" >수정</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/js/sidebarmenu.js}"></script>
<script th:src="@{assets/js/app.min.js}"></script>
<!-- <script src="../assets/js/dashboard.js"></script> -->
</body>

<script>

  var header = $("meta[name='_csrf_header']").attr('content');
  var token = $("meta[name='_csrf']").attr('content');
  function approveUser(userId) {
    // 사용자에게 확인을 받고 승인할지 여부 확인
    var confirmApproval = confirm("사용자를 승인하시겠습니까?");

    console.log(userId);

    if (confirmApproval) {
      // jQuery Ajax를 사용하여 서버로 userId를 전송
      $.ajax({
        type: "POST",
        url: "/admin/approveUser.do",
        data: { userId: userId },
        beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        },
        success: function(response) {
          // 서버 응답을 처리
          console.log(response);
          alert(response);
          // 여기에서 페이지 새로고침 또는 다른 동작 수행
          window.location.reload();
        },
        error: function(error) {
          console.error("Ajax 요청 실패:", error);
        }
      });
    }
  }

  $(document).ready(function () {
    $('#myTable tbody tr').on('click', function () {
      // 클릭된 행의 data-user-id 속성 값을 가져오기
      var userId = $(this).data('user-id');
      var userName = $(this).data('user-name');
      var rank = $(this).attr('data-user-rankName');
      var team = $(this).attr('data-user-teamName');
      var msTeam = $(this).attr('data-user-msteamName');
      var birthday = $(this).data('user-birthday');
      var phone = $(this).data('user-phone');
      var address = $(this).data('user-address');
      var password = $(this).data('user-password');
      var email = $(this).data('user-email');
      var gender = $(this).data('user-gender');
      var userCheck = $(this).data('user-check');

      console.log(rank);


      // 받은 사용자 정보를 모달에 표시
      $('#userId').val(userId);
      $('#userName').val(userName);
      $('#rank option[value="' + rank + '"]').prop('selected', true);
      $('#team option[value="' + team + '"]').prop('selected', true);
      $('#msteam option[value="' + msTeam + '"]').prop('selected', true);
      $('#birthday').val(birthday);
      $('#phone').val(phone);
      $('#address').val(address);
      $('#password').val(password);
      $('#email').val(email);
      $('#gender').val(gender);
      $('#userCheck').val(userCheck);

      // 모달 열기
      $('#userListModal').modal('show');
    });
  });


</script>

</html>