<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>WeAre</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- only for summernote -->
    <script th:src="@{assets/js/summernote-lite.js}"></script>
    <script th:src="@{assets/js/summernote-ko-KR.js}"></script>
    <link rel="stylesheet" th:href="@{assets/css/summernote-lite.css}">
    <STYLE>
        .navbar.affix-top .nav-link {
            color: white;
        }
    </STYLE>
</head>
<div layout:fragment="content">
    <div style="width: 100%; height: 143px; background-color:#2c3e50;"></div>
    <section style="height: fit-content;">
        <br><br><br>
        <div style="display: flex; justify-content: center;">
            <h3>임원 게시판</h3>
        </div>
        <br>
        <div class="container">
            <hr>
            <form th:action="@{executivesCreateComplete.do}" enctype="multipart/form-data" th:object="${Executives}" method="post">
                <span style="width: 50px;">사역팀</span>
                <select id="mySelect" th:field="*{category}" required>
                    <option value="" disabled selected>옵션을 선택해주세요</option>
                    <option value="회의록">회의록</option>
                    <option value="기획서">기획서</option>
                    <option value="회계자료">회계자료</option>
                </select>
                <hr>
                <input type="text" th:field="*{title}" style="border: none; width: 600px; font-size: 1.5rem; font-weight: 600;" placeholder="제목을 입력하세요.">
                <hr>
                <div style="margin-top: 10px;">
                    <input type="file" name="executivesFile" multiple="multiple">
                </div>
                <div style="margin-top: 10px;">
                    <textarea id="summernote" name="editordata" th:field="*{content}"></textarea>
                </div>
                <div style="display: flex; justify-content: end">
                    <button class="btn-primary" type="submit" style="margin-top: 15px; border-radius: 20px;">글쓰기</button>
                </div>
            </form>
        </div>
        <br>
    </section>
    <script>
        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');

        $('#summernote').summernote({
            // 에디터 높이
            height: 600,
            // 에디터 한글 설정
            lang: "ko-KR",
            // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
            focus : true,
            toolbar: [
                // 글꼴 설정
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                // 글자색
                ['color', ['forecolor','color']],
                // 표만들기
                ['table', ['table']],
                // 글머리 기호, 번호매기기, 문단정렬
                ['para', ['ul', 'ol', 'paragraph']],
                // 줄간격
                ['height', ['height']],
                // 그림첨부, 링크만들기, 동영상첨부
                ['insert',['picture','link','video']],
                // 코드보기, 확대해서보기, 도움말
                ['view', ['codeview','fullscreen', 'help']]
            ],
            // 추가한 글꼴
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            // 추가한 폰트사이즈
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],

            callbacks : {
                onImageUpload : function(files) {
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i], this);
                    }
                },
                onPaste: function (e) {
                    var clipboardData = e.originalEvent.clipboardData;
                    if (clipboardData && clipboardData.items && clipboardData.items.length) {
                        var item = clipboardData.items[0];
                        if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                            e.preventDefault();
                        }
                    }
                }
            }
        });

        function sendFile(file, el) {
            const form_data = new FormData();
            form_data.append('file', file);
            $.ajax({
                data : form_data,
                type : "POST",
                url : '/uploadExecutivesImage',
                cache : false,
                contentType : false,
                processData : false,
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                success : function(data) {
                    $(el).summernote('insertImage', data.url);
                }
            });
        }

    </script>
</div>
</html>