<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script th:src="@{assets/vendors/jquery/jquery-3.4.1.js}"></script>
    <title>질문</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<div layout:fragment="content">
    <div style="width: 100%; height: 115px; background-color:#2c3e50;"></div>
    <section style="height: fit-content;">
        <br><br><br>
        <div style="display: flex; justify-content: center;">
            <h4>질문</h4>
        </div>
        <br>
        <th:block th:with="loggedInUser=${session.loggedInUser}">
            <div th:if="${loggedInUser.userId == questionDetail.userId}" style="max-width: 1160px; display: flex; justify-content: end; margin: auto; padding-right: 50px;">
                <button type="button" id="patchNoticeBtn" style="border-style: none; font-size: 12px;">
                    <a th:href="@{questionUpdate(id=${questionDetail.questionId})}">수정</a>
                </button>
                &nbsp;|&nbsp;
                <form action="">
                    <input type="hidden" id="deleteQuestionInput" th:value="${questionDetail.questionId}">
                    <button type="button" id="deleteQuestionBtn" style="border-style: none; font-size: 12px; height: 24px;">삭제</button>
                </form>
            </div>
        </th:block>
        <div style="max-width: 1060px; margin: auto;">
            <hr>
            <div style="display: flex; justify-content: center; padding: 15px 0 15px 0;">
                <div style="width: 100px;">
                    <span style="border: 1px solid black; border-radius: 12px; padding: 2px; font-size: 12px; width: 60px; display: flex; justify-content: center; background-color: white;">
                        질문
                    </span>
                </div>
                <div style="width: 700px;">
                    <span style="font-size: 18px; font-weight: 600;" th:text="${questionDetail.title}"></span>
                </div>
                <div style="width: 150px;">
                    <span style="font-size: 13px;" th:text="${questionDetail.userId}"></span>
                </div>
                <div>
                    <span style="font-size: 13px;" th:text="${questionDetail.questionCreatedAt}"></span>
                </div>
            </div>
            <hr>
            <div style="padding:30px; min-height: 600px;">
                <span th:utext="${questionDetail.content}"></span>
            </div>
            <hr>
            <div style="display: flex; justify-content: center;">
                <a th:href="@{question}">
                    <i class="bi bi-grid-3x3-gap-fill" style="font-size: 30px;"></i>
                </a>
            </div>
            <br>
        </div>

        <!-- 댓글부분 -->
        <div style="max-width: 1060px; margin: auto;">
            <form id="commentForm" th:action="@{question/commentCreate.do}" th:object="${CommentQuestion}" method="post">
                <div style="display:flex;">
                    <input type="hidden" name="questionId" th:value="${questionDetail.questionId}">
                    <input type="text" name="commentContent" th:field="*{commentContent}"
                           style="padding-left: 10px; border: 1px solid black; height: 45px; display: flex; overflow: hidden; align-items: center; width: 94%;" placeholder="댓글을 입력해주세요">
                    <button type="submit"
                            style="width: 5%; margin-left: 1%; border-style: none; background-color: transparent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                </div>
                <br>
            </form>
        </div>

        <th:block th:with="loggedInUser=${session.loggedInUser}">
            <div style="max-width: 1060px; margin: auto; border: 1px solid #e3e3e3; border-top: none; line-height: 1;">
                <th:block th:each="comment, commentIndex : ${comments}">
                    <div style="padding: 15px 20px 0 20px; border-top: 1px solid #e3e3e3;">
                        <!-- 정상 댓글(삭제되지 않은 댓글) -->
                        <th:block th:if="${comment.deleteCk != 'o'}">
                            <div style="display: inline-block; width: 100%; overflow: hidden;">
                                <h3 style="font-size: 13px; float: left; font-weight: 800;" th:text="${comment.userEntity.userName+'('+comment.userId+')'}"></h3>
                                <ul style="list-style: none; display: flex; float: right; font-size: 13px; color: #666; margin: 0;">
                                    <li th:onclick="'showReplyForm(\'replyForm\' + ' + ${commentIndex.index} + ')'"
                                        style="cursor: pointer;">대댓글</li>
                                    <li th:if="${loggedInUser.userId == comment.userId}"
                                        th:onclick="'deleteComment(' + ${comment.commentId} + ')'"
                                        style="padding-left: 20px; cursor: pointer;">삭제</li>
                                </ul>
                            </div>

                            <br>
                            <p th:text="${comment.commentContent}"></p>
                            <p style="font-size: 12px; color: #666;" th:text="${T(com.ep.weare.common.TimeUtil).getTimeAgoOrFormatted(comment.commentCreatedAt)}"></p>
                        </th:block>

                        <!-- 삭제된 댓글 -->
                        <th:block th:if="${comment.deleteCk == 'o'}">
                            <div style="display: inline-block; width: 100%; overflow: hidden;">
                                <h3 style="font-size: 13px; float: left; font-weight: 800;">(삭제)</h3>
                            </div>
                            <br>
                            <p>삭제된 댓글입니다.</p>
                            <p style="font-size: 12px; color: #666;"></p>
                        </th:block>


                        <th:block th:each="reply : ${replies}" >
                            <div th:if="${comment.commentId == reply.commentRef}" style="margin-left: 30px; margin-bottom: 10px; border: 1px solid #e3e3e3; border-top: none; background-color: #f9f9f9;">
                                <div style="padding: 10px 10px 0 10px; border-top: 1px solid #e3e3e3;">

                                    <!-- 정상 대댓글 -->
                                    <th:block th:if="${reply.deleteCk == 'x'}">
                                        <div style="display: inline-block; width: 100%;">
                                            <h3 style="font-size: 13px; float: left; font-weight: 800;" th:text="${reply.userEntity.userName+'('+reply.userId+')'}"></h3>
                                            <ul style="list-style: none; display: flex; float: right; font-size: 13px; color: #666; margin: 0;">
                                                <li th:if="${loggedInUser.userId == reply.userId}"
                                                    th:onclick="'deleteComment(' + ${reply.commentId} + ')'"
                                                    style="padding-left: 20px; cursor: pointer;">삭제</li>
                                            </ul>
                                        </div>
                                        <br>
                                        <p th:text="${reply.commentContent}"></p>
                                        <p style="font-size: 12px; color: #666;" th:text="${T(com.ep.weare.common.TimeUtil).getTimeAgoOrFormatted(reply.commentCreatedAt)}"></p>
                                    </th:block>

                                    <!-- 삭제 대댓글 -->
                                    <th:block th:if="${reply.deleteCk == 'o'}">
                                        <div style="display: inline-block; width: 100%;">
                                            <h3 style="font-size: 13px; float: left; font-weight: 800;">(삭제)</h3>
                                        </div>
                                        <br>
                                        <p>삭제된 댓글입니다.</p>
                                        <p style="font-size: 12px; color: #666;"></p>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>

                        <form th:id="'replyForm' + ${commentIndex.index}" th:action="@{question/replyCreate.do}" th:object="${CommentQuestion}" method="post" style="display: none;">
                            <div style="display:flex; margin-left: 30px; background-color: #f9f9f9;">
                                <input type="hidden" name="questionId" th:value="${questionDetail.questionId}">
                                <input type="hidden" name="commentRef" th:value="${comment.commentId}">
                                <input type="text" th:id="'replyInput' + ${commentIndex.index}" th:field="*{commentContent}"
                                       style="padding-left: 10px; border: 1px solid black; height: 45px; display: flex; overflow: hidden; align-items: center; width: 94%;" placeholder="댓글을 입력해주세요">
                                <button type="submit" style="width: 5%; margin-left: 1%; border-style: none; background-color: transparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                            </div>
                            <br>
                        </form>
                    </div>
                </th:block>
            </div>
        </th:block>
        <br>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');

        $(document).ready(function() {

            // 삭제 버튼 클릭 시 질문 삭제
            $('#deleteQuestionBtn').on('click', function() {
                const questionId = $('#deleteQuestionInput').val();

                console.log(questionId);

                if(confirm("정말 삭제하시겠습니까?(❗복구가 불가능합니다.)")) {
                    $.ajax({
                        url: "/questionDelete.do", // 실제 삭제 엔드포인트로 교체
                        type: 'POST', // 또는 서버 구성에 따라 'DELETE'
                        data: { questionId: questionId },
                        beforeSend: function(xhr){
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(response) {
                            alert(response);
                            window.location.href = '/question';
                        },
                        error: function(error) {
                            alert('공지사항 삭제 중 오류가 발생했습니다.');
                        }
                    });
                }
            });
        });

        var isReplyFormVisible = false;

        function showReplyForm(formId) {
            var replyForm = document.getElementById(formId);
            if (!isReplyFormVisible) {
                replyForm.style.display = 'block';
                isReplyFormVisible = true;
            } else {
                replyForm.style.display = 'none';
                isReplyFormVisible = false;
            }
        }

        function deleteComment(commentId) {

            if(confirm("정말 삭제하시겠습니까?(❗복구가 불가능합니다.)")) {
                $.ajax({
                    url: "/question/deleteComment.do", // 실제 삭제 엔드포인트로 교체
                    type: 'POST', // 또는 서버 구성에 따라 'DELETE'
                    data: { commentId: commentId },
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {
                        alert(response);
                        location.reload();
                    },
                    error: function(error) {
                        alert('삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        }
    </script>
</div>
</html>