<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--        layout:decorate="~{layouts/default_layout}">-->
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <title>2023 WeAre</title>
</head>
<!--<div layout:fragment="content">-->
<!--    <div style="width: 100%; height: 71px; background-color:#2c3e50;"></div>-->
    <section th:style="'background-image: url(assets/img/weare/bg.png); background-repeat:no-repeat ; background-size: cover; background-attachment: fixed;'">
        <div>
            <div style="width: 95.9%; height: 130px; margin-left: 53px; padding-left: 5%; background-color: white;" class="fixed-top">
                <h1 style="font-size: 65px; font-weight: 800; margin: 30px 0 0 110px;">✨2023 우리는 청년부 전체 결산</h1>
            </div>
            <br><br><br><br><br><br><br><br>
            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">22년 12월 11일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">세례증서 수여식</h1>
                <br>
                <h2 style="font-weight: 700;">수여자 : 윤솔, 윤한결</h2>
            </div>
            <div style="display: flex; justify-content: center;">
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2212110.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">22년 12월 17일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년부 감사식사</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2212170.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">22년 12월 23일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">대한 학생 졸업식</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2212230.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">22년 12월 24일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">은평 크리스마스 전야제</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <video controls width="45%" th:src="@{assets/img/weare/202212241.mp4}" style="border-radius: 1%;"></video>
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">1월 1일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">은혜 자매 교회 등록</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2301011.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">1월 1일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">신년감사예배 오후 소그룹예배</h1>
                <br>
                <h2 style="font-weight: 700;">새로운 우리는 : 은혜, 대한, 한슬</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2301012.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2301013.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">2월 12일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">황세현 형제 롤링페이퍼 전달</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2302121.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2302122.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">2월 23일 ~ 2월 25일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년부 주관 스키캠프</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2302232.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2302233.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2302234.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <video controls width="45%" th:src="@{assets/img/weare/2302231.mov}" style="border-radius: 1%;"></video>
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">2월 28일 ~ 3월 1일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">전교인 동계수련회</h1>
                <br>
                <h2 style="font-weight: 700;">저녁예찬, 아이돌봄</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2302282.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2302281.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2302283.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2302284.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2302286.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">3월 5일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">용우 형제 전역, 혜인 자매 취업 축하</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2303052.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2303053.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">3월 18일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 목사님과 함께하는 일일 청년리더수련회</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <video th:src="@{assets/img/weare/2303183.mov}" width="22%" controls></video>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2303184.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">3월 19일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">세계로교회 입당예배</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2303191.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2303192.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">3월 25일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">23년 우리는 골든벨 1회</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2303251.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2303254.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">4월 2일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">성례전</h1>
                <br>
                <h2 style="font-weight: 700;">세례자 : 황시내 자매</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="30%" th:src="@{assets/img/weare/2304021.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2304022.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">4월 9일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">부활주일 오후예배</h1>
                <br>
                <h2 style="font-weight: 700;">청년야외예배 : 드림파크공원</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <video th:src="@{assets/img/weare/2304091.mov}" width="25%" controls></video>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2304093.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2304094.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="29%" th:src="@{assets/img/weare/2304095.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2304096.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">5월 6일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">상하 수연 혼인예배</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2305061.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2305062.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2305063.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">5월 13일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 무의도 야외예배</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="27%" th:src="@{assets/img/weare/2305131.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2305132.jpeg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2305133.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="27%" th:src="@{assets/img/weare/2305134.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">5월 14일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">스승의 주일 선물</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2305141.jpeg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2305142.jpeg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">5월 20일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">낮은곳으로 요한셀 나들이</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2305201.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2305202.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2305203.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">5월 29일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">석가탄신일 청년 소그룹 모임</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2305291.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2305292.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">6월 3일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">윤솔 자매 취업 축하 / 상반기 대청소</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2306031.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2306032.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2306033.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">6월 11일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">임직식</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2306111.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2306112.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">6월 17일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 요한셀 섬김</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="30%" th:src="@{assets/img/weare/2306171.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2306172.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">6월 25일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">건영 형제 교회등록</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2306250.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">7월 2일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">건영 형제 청년부 환영</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2307021.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2307022.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">8월 13일 ~ 8월 15일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년부 여름 수련회</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2308131.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308132.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2308133.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308134.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2308135.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308137.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2308138.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">8월 19일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">서철원 박사님 생신 축하</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="45%" th:src="@{assets/img/weare/2308191.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">8월 19일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">디자인팀 사역</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308192.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2308193.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2308194.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">8월 19일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">민규 총무님 병문안</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308195.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2308196.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2308197.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">9월 2일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">원데이 클래스</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="35%" th:src="@{assets/img/weare/2309021.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2309022.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2309026.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2309024.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2309025.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">9월 8일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년부 주관 쭈꾸미 낚시</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="41%" th:src="@{assets/img/weare/2309081.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2309083.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2309084.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2309085.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2309086.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">9월 19일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">대한예수교장로회총회</h1>
                <br>
                <h2 style="font-weight: 700;">돌트신조 번역본 배포</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2309191.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2309192.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">9월 24일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년 주관 오후예배</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2309241.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2309242.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2309245.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2309246.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="27%" th:src="@{assets/img/weare/2309244.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2309243.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">9월 30일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년 요한셀 추석 나눔</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2309303.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2309301.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2309302.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2309304.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">10월 3일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 개천절 교제</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2310031.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="25%" th:src="@{assets/img/weare/2310032.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">10월 7일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">23년 우리는 골든벨 2회</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2310071.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="29%" th:src="@{assets/img/weare/2310072.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="42%" th:src="@{assets/img/weare/2310073.jpg}" alt="" style="border-radius: 5%;">
            </div>br><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">10월 14일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">인천광역시 조찬 기도회</h1>
                <br>
                <h2 style="font-weight: 700;">장소 : 송월교회</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="25%" th:src="@{assets/img/weare/2310141.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="22%" th:src="@{assets/img/weare/2310142.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="22%" th:src="@{assets/img/weare/2310143.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">10월 14일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 청년부, 요한셀 교제</h1>
                <br>
                <h2 style="font-weight: 700;">장소 : 은혜와평강교회, 나비공원</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="24%" th:src="@{assets/img/weare/2310144.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="27%" th:src="@{assets/img/weare/2310145.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2310146.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2310147.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="20%" th:src="@{assets/img/weare/2310148.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2310149.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="24%" th:src="@{assets/img/weare/2310149-1.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">10월 28일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 지인초청 예배, 무의도 나들이</h1>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="24%" th:src="@{assets/img/weare/2310281.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="24%" th:src="@{assets/img/weare/2310282.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="19%" th:src="@{assets/img/weare/2310283.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="15%" th:src="@{assets/img/weare/2310284.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="24%" th:src="@{assets/img/weare/2310285.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="24%" th:src="@{assets/img/weare/2310286.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="42%" th:src="@{assets/img/weare/2310287.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">11월 11일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">공군 서산기지교회 방문</h1>
                <br>
                <h2 style="font-weight: 700;">병장 홍서진</h2>
            </div>
            <br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="30%" th:src="@{assets/img/weare/2311111.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="15%" th:src="@{assets/img/weare/2311112.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="17%" th:src="@{assets/img/weare/2311113.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="20%" th:src="@{assets/img/weare/2311116.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="32%" th:src="@{assets/img/weare/2311115.jpg}" alt="" style="border-radius: 5%;">
            </div><br>
            <div class="imgbox" style="display: flex; justify-content: center;">
                <img width="23%" th:src="@{assets/img/weare/2311114.jpg}" alt="" style="border-radius: 5%;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img width="23%" th:src="@{assets/img/weare/2311117.jpg}" alt="" style="border-radius: 5%;">
            </div><br><br><br><br><br>

            <div style="padding-left: 24%;">
                <h1 style="font-size: 55px; font-weight: 600; line-height : 1.8;">12월 일</h1>
                <h1 style="font-size: 50px; color: cadetblue; font-weight: 600;">우리는 내년준비 수련회</h1>
            </div>
            <br>

        </div>
    </section>
<!--</div>-->
</html>